<div class="col-18 offset-1">
  <h1>About Splurty</h1>
<p>
    Splurty was built by <a target="_blank" href="https://github.com/jessicalicotte/pro">Jessi</a>  Web developer.
  </p>
  <br />
  <p>
    Originally Jessi is from St. Louis, Missouri and transplanted to Colorado Springs, Colorado in 2011.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jessi Calicotte</h2>
      <br />
      <p>
        Jessi Calicotte is a web developer. 
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'ken.jpg', class: 'img-fluid' %>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br /> 